# Loading data

In [4]:
import pandas as pd
import scipy.stats as stats
df = pd.read_csv('./Machine.csv')

In [5]:
df

    Subgroup  Measure  Machine  Shift
0          1    1.346        1      1
1          1    1.418        1      1
2          2    1.390        1      1
3          2    1.344        1      1
4          3    1.336        1      1
..       ...      ...      ...    ...
91        46    1.468        2      2
92        47    1.451        2      2
93        47    1.448        2      2
94        48    1.466        2      2
95        48    1.459        2      2

[96 rows x 4 columns]

# Hypothesis analysis

*To test whether there is no significant difference in the product measurements produced on the two machines, a hypothesis test is performed using a two independent samples `t-test.`*

`Null Hypothesis (H0)`: There is no significant difference in measurements between the two machines.

H0: μ1 - μ2 = 0 (where μ1 and μ2 are the means of measurements for machines 1 and 2, respectively).

`Alternative Hypothesis (H1)`: There is a significant difference in measurements between the two machines.

H1: μ1 - μ2 ≠ 0 (two-tailed) o

`Significance Level (α)`: 0.05.

In [7]:
# Split data into two groups based on the machine
machine_1_data = df[df['Machine'] == 1]['Measure']
machine_2_data = df[df['Machine'] == 2]['Measure']

# Independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(machine_1_data, machine_2_data)

# Print the results
print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

# Compare with the significance level (e.g., 0.05)
if p_value < 0.05:
    print("Reject the null hypothesis. There is evidence of a significant difference.")
else:
    print("Insufficient evidence to reject the null hypothesis.")

T-Statistic: -10.724909157818049
P-Value: 5.347163899125401e-18
Reject the null hypothesis. There is evidence of a significant difference.

*`Reject the null hypothesis`. There is evidence of a significant difference.*